[buildout]
parts = django
        django-config
        make-config
        svncode
        django-south
        django-cms

[django]
recipe = djangorecipe
project = aiv
version = 1.1
settings = production
unzip = true
extra-paths = ${django-config:location}
              ${svncode:location}/django-reversion
              ${django-south:location}
			  ${django-cms:location}

[django-config]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-config.git
rev = 50269888b4a98e2223548e588e00a5581da5aee4

[make-config]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds = sudo rm -f bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo bin/django make_config init.d > bin/init.d
       sudo bin/django make_config lighttpd > bin/lighttpd
       sudo bin/django make_config logrotate > bin/logrotate
       sudo bin/django make_config monit > bin/monit
       sudo chown root:root bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo chmod ug=rwx,o=rx bin/init.d
       sudo chmod ug=rw,o=r bin/lighttpd bin/logrotate bin/monit
       echo Configs were saved to "bin/"

[svncode]
recipe = iw.recipe.subversion
urls = shttp://django-reversion.googlecode.com/svn/tags/1.2/src django-reversion

[django-south]
recipe = zerokspot.recipe.git
repository = git://github.com/andrewgodwin/south.git
rev = bc84cb41eb58b92a7e4a08948bebbc34a817addc

[django-cms]
recipe = zerokspot.recipe.git
repository = git://github.com/digi604/django-cms-2.0.git
rev = 20034075a1d184cbb7c588906ba91cdac36ec461
